h1 {
    font-family: 'Bitter', serif;
    color: #00cccb;
}

body {
    font-family: 'Bitter', serif;
	background-color: #2a2d32;
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}

a {
    color: #00cccb;
}

#button {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    border-radius: 4px;
    background-color: #2a2d32;
    border: none;
    color: #00cccb;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button:hover {
    border-radius: 0px;
    background-color: #00cccb;
    color: #2a2d32;
}

#horzNav {
   background-color: blue;
   width: 100%;
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   margin: 0 auto;
   background: #2a2d32;
   position: fixed;
}

#horzNav a {
    font-family: 'Bitter', serif;
	text-decoration: none;
	padding: 0px 0px 0px 20px;
	color: #00cccb;
}
